@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
  z-index: 0;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

html,
body {
  cursor: none;
}

#image {
  height: 256px;
  width: 256px;
  background: url("/sprite.webp") 0px 0px;
}

.cursor-container,
.cursor-container-2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.cursor-container ul {
  display: flex;
  flex-direction: column;
}

.cursor-container ul li {
  color: #fff;
  font-size: 5rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-family: sans-serif;
  display: inline-block;
}

.cursor-container ul li:hover ~ .cursor {
  transform: scale(6);
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: transform 0.25s;
  pointer-events: none;
  mix-blend-mode: difference;
}

.hover-this {
  transition: all 0.3s ease;
}

.hover-this span {
  color: #fff;
  font-size: 5rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-family: sans-serif;
  display: inline-block;
  transition: transform 0.1s ease;
}

.cursor-container-2 ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hover-this:hover ~ .cursor {
  transform: scale(6);
}